[Desktop Entry]
Name=Monajat Applet for supplications
Name[ar]=بريمج مناجاة للأذكار
Comment=Monajat in system tray icon
Comment[ar]=بريمج مناجاة للأذكار
Exec=/usr/bin/monajat-applet --auto
Terminal=false
Type=Application
Icon=monajat
X-KDE-autostart-after=panel
StartupNotify=false
Categories=X-Islamic-Software;System;

